body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button, button:active, button:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-warning-dark {
  color: white;
  background-color: darkorange;
}